[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bridger"]
	path = bridger
	url = https://github.com/commoditiesai/bridger
	shallow = true
	registered = true
